/* Themes */

:root {
    --primary-color: #F9F7E8;
    --secondary-color: #61BFAD;
    --third-color: rgb(29, 150, 130);
    --game-name-color: black;
}

/*
[data-theme="alternative"] {
    
}
*/

/* All pages */

body {
    /*background-image: url('../img/bf2.jpg');*/
    background-color : var(--primary-color);
}

#myCanvas {
    background-color : var(--secondary-color);
    
}

a {
    outline: none;
    text-decoration: none;
}

a:hover, a:visited, a:focus {
    outline: none;
    text-decoration: none;
}

/* Index */

.game-title {
    font-family: 'Bebas Neue', cursive;
    color: var(--game-name-color);
    font-size: 3.3em;
    text-align: center;
    margin-top: 1em;
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.level-title {
    color: var(--third-color);
    text-shadow: 1px 1px grey;
    font-family: 'Tomorrow', sans-serif;
    font-size: 2.2em;
    text-align: center;
    display: block;
    margin-top: 1em;
}

.form {
    margin : 5em auto;
}

.btn-primary {
    background-color : var(--secondary-color);
    color: var(--primary-color);
    font-size: 2em;
    text-shadow: 1px 1px var(--third-color);
    margin-bottom: .7em;
}

.btn-primary:hover {
    background-color : var(--third-color);
  ;
}

.level-link:visited, .level-link:hover {
    color: var(--primary-color);
}

/* Game */

.index-link {
    color: var(--game-name-color);
}

.index-link:hover {
    color: var(--third-color);
}


