/* Themes */

:root {
    --primary-color: #1E252D;
    --secondary-color:  #E7E9E6;
    --third-color: rgb(69, 132, 139);
    --game-name-color: #57A7B0;
}

/*
[data-theme="alternative"] {
    --primary-color: #F9F7E8;
    --secondary-color: #61BFAD;
    --third-color: rgb(29, 150, 130);
    --game-name-color: bla
}
*/

/* All pages */

body {
    /*background-image: url('../img/bf2.jpg');*/
    background-color : var(--primary-color);
}

#myCanvas {
    background-color : var(--secondary-color);
    
}

a {
    outline: none;
    text-decoration: none;
}

a:hover, a:visited, a:focus {
    outline: none;
    text-decoration: none;
}

/* Index */

.game-title {
    font-family: 'Bebas Neue', cursive;
    color: var(--game-name-color);
    font-size: 3.3em;
    text-align: center;
    margin-top: 1em;
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.level-title {
    color: var(--third-color);
    /*text-shadow: 1px 1px black;*/
    font-family: 'Tomorrow', sans-serif;
    font-size: 2.2em;
    text-align: center;
    display: block;
    margin-top: 1em;
}

.btn-group-vertical {
    margin : 5em auto;
}

.btn-primary {
    background-color : var(--secondary-color);
    color: var(--primary-color);
    font-size: 2em;
    /*text-shadow: 1px 1px grey;*/
    margin-bottom: .5em;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color : var(--third-color);
  ;
}

.level-link:visited, .level-link:hover {
    color: var(--primary-color);
}

.btn-change-name{
    display: flex;
    justify-content: center;
}

.namerequest {
    font-size: 1em;
    font-weight: bold;
    background-color : var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 7px;
    padding: .3em;
    
}

/* Game */

.index-link {
    color: var(--game-name-color);
}

.index-link:hover {
    color: var(--third-color);
}


