/* Variables */

:root {
    --pixel--size-h: 2em;
    --pixel--size-w: 2em;
}

/* Game zones */

#game-zone {
    height: 50vh;
    width: 50vw;
    border: 2px solid black;
    display: flex;
}

#player-zone {
    height: auto;
    width: 10%;
    border: 2px solid red;
    align-self: flex-end;
    /*box-sizing: border-box;*/
}

#player-zone > div {
    width: var(--pixel--size-w);
    height: var(--pixel--size-h);
    display: inline-block;
    /*margin-bottom: -5%;*/
}

/* Start button */

#start {
    margin: 1em;
}


/* Pixels design */

.empty {
    background-color: green;
}

.plain {
    background-color: black;
    /*color: black;*/
    font-size: 100%;
}

.light {
    background-color: white;
}

.highlight {
    background-color: orange;
}